<h1 class="static-greeting">
  Hi, <%= current_user.name %>! Thanks for joining us. More to come soon!
  <form action="<%= session_url %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <%= auth_token_input %>
    <button class="static-logout">Log Out</button>
  </form>

</h1>
