<div class="new-session-form splash-form">
  <form action="<%= session_url %>" method="post">
    <%= auth_token_input %>

    <div class="inputs">
      <label for="session-username"></label>
      <input id="session-username"
             name="session[username]"
             placeholder="Username">

      <label for="session-password"></label>
      <input type="password"
             id="session-password"
             name="session[password]"
             placeholder="Password">

      <button>Log in</button>
    </div>
  </form>
  <%= render "layouts/guest_signin_button" %>


  <form class="signup-button" action="<%= new_user_url %>" method="get">
    <button>Not a member yet?</button>
  </form>
</div>
