.courses-dropdown a:hover {
  color: #aaa;
}

.courses-dropdown .add-button {
  text-align: center;
  padding: 10px 0;
  display: block;
  width: 100%;
}

.courses-dropdown {
  position: absolute;
  left: -54px;
  top: 41px;
  min-height: 120px;
  height: auto;
  display: block;
  min-height: 115px;
  width: 200px;
  cursor: default;
  padding: 10px 0;
}

.courses-dropdown-header {
  width: 100%;
  border-bottom: 1px solid #aaa;
  padding-bottom: 5px;
  text-align: center;
}

.courses-dropdown-header h3 {
  color: #aaa;
}

.courses-dropdown .course-button:last-child {
  border-bottom: 1px solid #aaa;
}
.courses-dropdown .course-button:hover {
  background-color: #ccc;
  color: #fff;
}
.courses-dropdown .course-button {
  width: 100%;
  display: block;
  padding: 5px 0;
  cursor: pointer;
  padding-top: 5px;
  text-align: center;
  background: #ddd;
}

.courses-dropdown .current-course {
  background-color: #bbb;
}

.course-index-button {
  display: block;
  float: right;
  margin-top: 22px;
  position: relative;
  z-index: 1;
  padding-bottom: 15px;
}

.course-index-button .fa-chevron-down {
  color: #000;
  float: left;
  margin-top: 4px;
  position: static;
}
