.course-index {
  margin: auto;
  width: 642px;
  position: absolute;
  top: calc(50% - 125px);
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.courses-dropdown-flag {
  position: absolute;
  height: 25px;
  left: -4px;
  width: 35px;
}

.courses-dropdown-flag-container {
  display: block;
  width: 25px;
  position: relative;
  float: left;
  overflow: hidden;
  border-radius: 50%;
  height: 25px;
  margin-right: 10px;
  top: -3px;
}

.course-index-container {
  width: 100%;
}

.add-courses-languages-button {
  padding: 0px 5px 15px 5px;
  color: #3787D4;
  position: relative;
}

.add-courses-languages-button li {
  font-size: 16px;
}
.add-courses-languages-button .language-index {
  right: -140px;
  top: -60px;
  width: 235px;
}

.course-selection .course-index {
  top: calc(50% - 25px);
}

.course-index-header {
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
  cursor: default;
  position: absolute;
  top: -150px;
  left: calc(50%);
  transform: translateX(-50%);
}

.course-selection .course-index {
  position: relative;
}

.course-list {
  height: auto;
  position: absolute;
  top: -95px;
  left: -27px;
}

.course-list-item {
  display: block;
  padding: 25px 25px 170px 25px;
  text-align: center;
}

.course-list-item-wrapper {
  position: relative;
  border: 2px solid #ccc;
  margin: 10px;
  float: left;
  width: 190px;
  height: 210px;
  background: transparent;
  border-radius: 10px;
  cursor: pointer;
}

.course-list-item-wrapper:hover {
  background-color: rgb(47, 99, 149);
}
