<div class="new-session-form">
  <form action="<%= session_url %>" method="post">
    <%= auth_token_input %>

    <label for="session-username">Username:</label>
    <input id="session-username" name="session[username]">

    <label for="session-password">Password:</label>
    <input type="password" id="session-password" name="session[password]">

    <input type="submit" value="Submit">
  </form>
</div>
