/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, h1, h2, ul, li, h3, div {
   background: transparent;
   border:  0;
   color: inherit;
   margin:  0;
   outline: 0;
   padding: 0;
   font: inherit;
   box-sizing: inherit;
   text-align: inherit;
   vertical-align: inherit;
   text-decoration: none;
 }

 ul {
   list-style: none;
 }

 img {
   display: block;
   height: auto;
   width: auto;
 }

 .group:after {
   clear: both;
   content: "";
   display: block;
 }

 body {
   color: #fff;
   background-color: rgb(10, 68, 121);
   font-family: sans-serif;
 }

.header {
  display: block;
  background: black;
}

.header-nav {
  min-width: 400px;
  padding: 0 40px 0 40px;
  display: block;
  background: black;
  margin: auto;
}

.header-nav-logo {
  float: left;
  font-size: 42px;
  margin-top: 6px;
  display: block;
}

.header-nav-login-button {
  float: right;
  display: block;
  background-color: #fff;
  color: rgb(10, 68, 121);
  padding: 10px 24px;
  border-radius: 20px;
  margin: 10px;
}

.header-nav-list > li {

}

.new-user-form {
}
