/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, h1, h2, ul, li, h3, div, input, form,
 label, button {
   background: transparent;
   border:  0;
   color: inherit;
   margin:  0;
   outline: 0;
   padding: 0;
   font: inherit;
   box-sizing: inherit;
   text-align: inherit;
   vertical-align: inherit;
   text-decoration: none;
 }

 ul {
   list-style: none;
 }

 img {
   display: block;
   height: auto;
   width: auto;
 }

 button {
   cursor: pointer;
 }

 .group:after {
   clear: both;
   content: "";
   display: block;
 }

 body {
   color: #fff;
   background-color: rgb(10, 68, 121);
   font-family: sans-serif;
   display: block;
 }

.header {
  display: block;
}

.header-nav {
  min-width: 400px;
  padding: 0 40px 0 40px;
  display: block;
  margin: auto;
}

.header-nav-logo {
  float: left;
  font-size: 42px;
  margin-top: 10px;
  display: block;
}

.header-nav-login-button {
  float: right;
  display: block;
  background-color: #fff;
  color: rgb(10, 68, 121);
  padding: 10px 24px;
  border-radius: 20px;
  margin: 15px;
}

.splash-form {
  display: block;
  width: 500px;
  margin: auto;
}

.inputs {
  margin: 120px auto 0 auto;
  width: 400px;
  display: block;
}

.inputs > input {
  background: #fff;
  margin: auto;
  padding: 15px;
  width: 260px;
  color: black;
  display: block;
  border: 1px solid #eee;
}

#user-username {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#session-username {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#session-password {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#user-email {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.inputs > input:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.inputs > button {
  display: block;
  margin: 20px auto 10px auto;
  padding: 12px 120px;
  border-radius: 20px;
  background-color: rgb(65, 188, 250)
}

.signup-button {
  width: 100%;
  margin-top: 25px;
  display: block;
}

.signup-button > button {
  display: block;
  margin: auto;
  font-size: 15px;
}

.static-greeting {
  font-size: 24px;
  margin-top: 200px;
  text-align: center;
}
