
.exercise {

}

.exercise-contents {
}

.exercise-header,
.exercise-contents .counter {
  text-align: center;
  font-size: 24px;
}

.exercise-contents .counter {
  margin-top: 25px;
  color: #bbb;
  font-size: 20px;
}

.exercise-header {
  color: #000;
  margin-top: 10px;
}
