.unfilled-chunk {
  background-color: transparent;
  // background-image: linear-gradient( to right, red, pink );
  border-left: 1px solid #aaa;
  // transition-duration: 2s;
}


.chunk {
  height: 100%;
  display: block;
  // width: 74px;
  padding-left: 1px;
  float: left;
}
.current-chunk {
  // background-color: rgb(255, 0, 0);
  padding-left: 1px;
  background-image: linear-gradient( to right, red, pink );
  // transition-duration: 2s;
}

.filled-chunk {
  box-sizing: border-box;
  background-color: rgb(255, 0, 0);
  border: none;

}

.chunk:first-child {
  border-left: none;
}

.progress-bar {
  position: relative;
  display: block;
  width: 800px;
  margin: auto;
}

.progress-bar-chunks {
  margin-bottom: 50px;
  display: block;
  margin: auto;
  width: 600px;
  overflow: hidden;
  border: 2px solid #ccc;
  border-radius: 20px;
  height: 20px;
}

.progress-bar .fa-trophy {
  position: absolute;
  color: gold;
  width: 45px;
  top: -30px;
  left: 651px;
  z-index: 1;
  background-color: red;
  padding: 16px;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.progress-bar .disabled-trophy {
  color: #ccc;
  background-color: #fff;
}
