.unfilled-chunk {
  background-color: transparent;
  border-left: 1px solid #aaa;
}


.chunk {
  height: 100%;
  display: block;
  width: calc(100% / 8 - 1px);
  float: left;
}
.current-chunk {
  background-image: linear-gradient( to right, red, pink );
}

.filled-chunk {
  box-sizing: border-box;
  background-color: rgb(255, 0, 0);
  border: none;
}

.chunk:first-child {
  border-left: none;
}

.progress-bar {
  margin-bottom: 50px;
  display: block;
  margin: auto;
  width: 600px;
  overflow: hidden;
  border: 2px solid #ccc;
  border-radius: 20px;
  height: 30px;

}
