/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, h1, h2, ul, li, h3, a, div, input, form,
 label, button {
   background: transparent;
   border:  0;
   color: inherit;
   margin:  0;
   outline: 0;
   padding: 0;
   font: inherit;
   box-sizing: inherit;
   text-align: inherit;
   vertical-align: inherit;
   text-decoration: none;
 }

 body {
   color: #fff;
   font-family: sans-serif;
   font-family: 'Montserrat Alternates';
   -webkit-font-smoothing: antialiased;
 }

 ul {
   list-style: none;
 }

 img {
   display: block;
   height: auto;
   width: 100%;
 }

 button {
   cursor: pointer;
 }

 .group:after {
   clear: both;
   content: "";
   display: block;
  }

 .header-bar {
  background-color: rgb(10, 68, 121);
  display: block;
  width: 100%;
 }

.splash-login-form {
  position: absolute;
  display: block;
  z-index: 1;
  right: 0px;
  top: 70px;
}

.splash-login-form:before {
  content: "▲";
  position: absolute;
  font-size: 20px;
  right:  107px;
  top: -16px;
  color: #fff;
  text-shadow: 0px -2px 3px rgba(0, 0, 0, 0.2);
 }

.splash-login-form .header-nav-login-button:hover {
  display: block;
 }

 .splash-login-inputs {
   background: #fff;
   display: block;
   width: 200px;
   border-radius: 10px;
   padding: 20px;
   position: absolute;
   right: 49px;
 }

 .splash-login-inputs input {
   border: 2px solid #ccc;
   display: block;
   margin: 10px auto;
   width: 190px;
   color: black;
   padding: 5px;
   border-radius: 10px;
 }

 .splash-login-button {
   padding: 8px 70px;
   margin: 15px auto 10px auto;
 }

.box-shadowed {
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
}
