/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, h1, h2, ul, li, h3, a, div, input, form,
 label, button {
   background: transparent;
   border:  0;
   color: inherit;
   margin:  0;
   outline: 0;
   padding: 0;
   font: inherit;
   box-sizing: inherit;
   text-align: inherit;
   vertical-align: inherit;
   text-decoration: none;
 }

 ul {
   list-style: none;
 }

 img {
   display: block;
   height: auto;
   width: auto;
 }

 button {
   cursor: pointer;
 }

 .group:after {
   clear: both;
   content: "";
   display: block;
 }

 body {
   color: #fff;
   background-color: rgb(10, 68, 121);
   font-family: sans-serif;
   font-family: 'Montserrat Alternates';
   display: block;
   -webkit-font-smoothing: antialiased;
 }
