/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, h1, h2, ul, li, h3, a, div, input, form,
 label, button {
   background: transparent;
   border:  0;
   color: inherit;
   margin:  0;
   outline: 0;
   padding: 0;
   font: inherit;
   box-sizing: inherit;
   text-align: inherit;
   box-shadow: none;
   vertical-align: inherit;
   text-decoration: none;
 }

 html, body, #root, .splash-wrapper, .main-wrapper {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

 body {
   color: #fff;
   font-family: sans-serif;
   font-family: 'Montserrat Alternates';
   -webkit-font-smoothing: antialiased;
 }

 ul {
   list-style: none;
 }

 img {
   display: block;
   height: auto;
   width: 100%;
 }

 button {
   cursor: pointer;
 }

 .group:after {
   clear: both;
   content: "";
   display: block;
  }



.box-shadowed {
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
}
