.language-index {
  width: 350px;
  margin: 85px auto;
}

.languages-modal {
  position: absolute;
}

.language-list {
}
.language-index {
    right: -190px;
    top: -44px;
    width: 325px;
    position: absolute;
}

.languages-modal .up-triangle {
  position: absolute;
  top: -8px;
  right: 16px;
}

.modal-login-button {
  padding: 7px 75px;
}


.language-list li {
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  color: #000;
  border: 1px solid #eee;
  padding: 12px;
  position: relative;
  cursor: pointer;
}

.language-list li:after {
  content: "❯";
  position: absolute;
  font-size: 20px;
  right: 20px;
  top: 8px;
  color: #ccc;
  display: block;
}

.language-list li:hover:after {
  content: "❯";
  position: absolute;
  font-size: 20px;
  right: 20px;
  top: 8px;
  color: rgb(33, 176, 249);
  display: block;
}

.language-list li:hover {
  background: #ddd;
}

.language-list li:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
}

.language-list li:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
}
