.language-index {
  width: 350px;
  margin: 85px auto;
}

.languages-modal {
  position: absolute;
  z-index: 1;
}

.language-list {
  border-radius: 10px;
}

.language-index {
    right: -190px;
    top: -44px;
    width: 325px;
    position: absolute;
}

.language-list li {
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  color: #000;
  border-bottom: 2px solid #eee;
  padding: 12px;
  position: relative;
  cursor: pointer;
}

.language-list li:first-child:before {
  content: "▲";
  position: absolute;
  font-size: 20px;
  right: 56px;
  top: -16px;
  text-shadow: 0px -2px 3px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.language-list li:first-child:hover:before {
  color: #ddd;
}


.language-list li:after {
}

.language-list li:hover:after {
  content: "❯";
  position: absolute;
  font-size: 20px;
  right: 20px;
  top: 8px;
  color: rgb(33, 176, 249);
  display: block;
}

.language-list li:hover {
  background: #ddd;
}

.language-list li:first-child {
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.language-list li:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
}
