.main {
  background-color: #eee;
  display: block;
  position: relative;
  padding: 30px 0 200px 0;
}

.main-content {
  width: 700px;
  display: block;
  margin: auto;
  height: 1000px;
  position: relative;
  background: #fff;
  margin-top: 10px;
  border-radius: 10px;
}

.course-page-header,
.skill-page-header,
.lesson-page-header {
  color: black;
  cursor: default;
  padding: 40px;
  font-size: 24px;
}

.main-wrapper {
  position: relative;
}
