.header-nav,
.splash-header {
  min-width: 400px;
  width: calc(100% - 300px);
  display: block;
  margin: auto;
}

.header-bar,
.splash-header-bar {
 display: block;
 width: 100%;
}

.header-nav-logo,
.splash-header-logo {
  float: left;
  font-weight: bold;
  font-size: 38px;
  margin-top: 10px;
  display: block;
}

.header-bar {
  background-color: rgb(99, 164, 227);
}

.splash-header-logo:hover {
  color: #ddd;
}

.splash-header-buttons {
  float: right;
  display: block;
  margin: 17px 10px;
  min-width: 300px;
}

.splash-header-buttons button {
  padding: 10px;
  display: block;
  cursor: pointer;
}

.splash-header-login-button {
  color: rgb(10, 68, 121);
  text-align: center;
  border-radius: 20px;
  float: right;
  background-color: #fff;
}

.splash-header-languages-button {
  float: left;
  color: #fff;
}

.splash-header-login-button:hover {
  background-color: #eee;
}

.splash-header-languages-button:hover {
  color: #ddd;
}

.splash-header-bar {
}
