.header-nav,
.splash-header {
  min-width: 700px;
  width: calc(100% - 250px);
  display: block;
  margin: auto;
}

.header-bar,
.splash-header-bar {
 display: block;
 width: 100%;
 height: 72px;
}

.header-nav-logo,
.splash-header-logo {
  float: left;
  font-weight: bold;
  font-size: 38px;
  margin-top: 10px;
  cursor: pointer;
  display: block;
}

.header-bar {
  background-color: #3787D4;
}

.splash-header-logo:hover,
.header-nav-logo:hover,
.user-info-button:hover {
  color: #ddd;
}

.splash-header-buttons {
  float: right;
  display: block;
  margin: 17px 10px;
  min-width: 300px;
}

.splash-header-buttons button {
  padding: 10px;
  display: block;
  position: relative;;
  cursor: pointer;
}

.splash-header-login-button {
  color: rgb(10, 68, 121);
  text-align: center;
  border-radius: 20px;
  position: relative;
  float: right;
  background-color: #fff;
}

.splash-login-inputs .facebook-login,
.signup-inputs .facebook-login {
  margin-bottom: 5px;
  background-color: rgb(59, 87, 157);
  padding-right: 13px;
  padding-left: 13px;
}

.splash-login-inputs .facebook-login:hover,
.signup-inputs .facebook-login:hover {
  background-color: rgb(77, 106, 176);
}

.splash-login-inputs .google-login,
.signup-inputs .google-login {
  background-color: #dd381d;
  padding-right: 23px;
  padding-left: 23px;
}

.splash-login-inputs .google-login:hover,
.signup-inputs .google-login:hover {
background-color: rgb(242, 42, 0);
}

.splash-login-inputs .google-login,
.splash-login-inputs .facebook-login {
  padding-top: 5px;
  padding-bottom: 5px;
}

.splash-header-buttons .splash-header-languages-button {
  float: left;
  color: #fff;
  padding-bottom: 20px;
}

.splash-header-login-button:hover,
.create-profile-button:hover {
  background-color: #eee;
}

.splash-header-languages-button:hover {
  color: #ddd;
}


.splash-header-bar {
}

.create-profile-button {
  padding: 10px 10px;
  background-color: #fff;
  cursor: pointer;
  float: right;
  border-radius: 20px;
  margin: 17px;
  color: rgb(101, 171, 204);
}

.splash-login-inputs > h3 {
  color: #aaa;
  text-align: center;
  padding-top: 10px;
}

.user-info-button .fa-chevron-down {
  color: #000;
  top: 2px;
  left: 60px;
  position: absolute;
  z-index: 1;
}

.points-counter {
  display: block;
  position: relative;
  float: right;
  padding-bottom: 20px;
  padding-top: 25px;
  left: 20px;
  z-index: 1;
}

.language-nav-flag {
  display: block;
  width: 30px;
  height: 30px;
  left: 3px;
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  top: 22px;
}

.language-nav-flag img {
  position: absolute;
  height: 30px;
  left: -3px;
  width: 40px;
}

.profile-pic-nav {
  width: 40px;
  display: block;
  position: absolute;
  border-radius: 50%;
  left: -45px;
  top: -10px;
  overflow: hidden;
}

.points-counter .fa {
  position: absolute;
  color: gold;
  background-color: gold;
  border-radius: 50%;
  top: 27px;
  left: -22px;
  text-shadow: 0 0 1px black;
}
