// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.splash-form {
  display: block;
  min-width: 400px;
  margin: auto;
}

.inputs {
  background: #eee;
  margin: auto;
  padding: 5px 10px 0 0;
  width: 310px;
  color: black;
  display: block;
  border: 1px solid #eee;
}



.inputs input {
  margin: 5px auto;
  padding-top: 15px;
  width: 165px;
  color: black;
  display: block;
  border: 1px solid #eee;
}

#user-username {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#session-username {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#session-password {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#user-email {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.inputs > input:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.inputs button,
.splash-login-inputs a,
.guest-inputs > button,
.lesson-begin-button,
.login-form-form button,
.splash-login-inputs .guest-login-button {
  display: block;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgb(33, 176, 249);
}

.splash-login-inputs .guest-login-button {
  text-align: center;
  display: block;
  border-radius: 20px;
  width: 100%;
  padding: 7px 0;
  margin: 5px 0 0 0;
}

.inputs button {
  margin: 20px auto 10px auto;
  padding: 12px 115px;
}

.guest-inputs > button {
  padding: 8px 39px;
  margin: 5px auto 10px auto;
}


#modal-login-button {
  margin-top: 10px;
  padding: 7px 75px;
}

.inputs button:hover,
.guest-inputs .guest-login-button:hover,
.lesson-begin-button:hover,
.splash-login-inputs a:hover,
.login-form-form button:hover {
  background-color: rgb(65, 188, 250);
}

.inputs .log-in-button {
  padding: 12px 120px;
}

.signup-button {
  margin-top: 25px;
  display: block;
}

.signup-button > button {
  color: black;
  background: transparent;
  margin: auto;
  font-size: 15px;
  padding: 5px;
}

.signup-button > button:hover {
  color: #bbb;
  background: transparent;
}

.static-greeting {
  font-size: 24px;
  margin-top: 200px;
  text-align: center;
}
