// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {
  display: block;
}

.header-nav {
  min-width: 400px;
  padding: 0 40px 0 40px;
  display: block;
  margin: auto;
}

.header-nav-logo {
  float: left;
  font-size: 42px;
  margin-top: 10px;
  display: block;
}

.header-nav-login-button {
  float: right;
  display: block;
  background-color: #fff;
  color: rgb(10, 68, 121);
  padding: 10px 24px;
  border-radius: 20px;
  margin: 15px;
}

.splash-form {
  display: block;
  min-width: 400px;
  margin: auto;
}

.inputs {
  margin: 120px auto 0 auto;
  width: 400px;
  display: block;
}

.inputs > input {
  background: #fff;
  margin: auto;
  padding: 15px;
  width: 260px;
  color: black;
  display: block;
  border: 1px solid #eee;
}

#user-username {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#session-username {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#session-password {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#user-email {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.inputs > input:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.inputs > button {
  display: block;
  margin: 20px auto 10px auto;
  padding: 12px 120px;
  border-radius: 20px;
  background-color: rgb(33, 176, 249);
}

.inputs > button:hover {
  background-color: rgb(65, 188, 250);
}

.signup-button {
  width: 100%;
  margin-top: 25px;
  display: block;
}

.signup-button > button {
  display: block;
  margin: auto;
  font-size: 15px;
  padding: 5px;
}

.signup-button > button:hover {
  color: #ccc;
}

.static-greeting {
  font-size: 24px;
  margin-top: 200px;
  text-align: center;
}
