.tips-and-notes {
  padding: 10px;
  border-top: 1px solid #ccc;
  display: block;
  width: 80%;
  margin: auto;
}

.skill-page-back-button {
  color: #aaa;
  margin: 35px 30px;
  padding: 10px;
  font-size: 16px;
  float: right;
}

.skill-page-header {
  float: left;
}

.skill-page-back-button:hover {
  color: #000;
}

.tips-and-notes-header {
  color: #000;
  font-size: 20px;
  cursor: default;
}

.tips-and-notes-text {
  color: #616161;
  cursor: default;
}
