.skill-index {
  margin: auto;
  width: 500px;
  margin-bottom: 100px;
}
.skill-index-container {
  width: 100%;
  margin-top: 100px;
}

.skill-index-header {
  font-size: 30px;
  cursor: default;
  text-align: center;
  margin-bottom: 50px;
}

.skill-list {
}

.skill-list-item {
  display: block;
  cursor: default;
  padding: 0 25px 0 25px;
  top: 110px;
  text-align: center;
  color: #000;
  position: relative;
}

.skill-list-circle {
  content: "";
  margin: 10px;
  position: absolute;
  float: left;
  width: 85px;
  height: 85px;
  background: lightblue;
  border-radius: 50%;
  top: -110px;
  right: 19px;
  cursor: pointer;
}

.skill-list-item-wrapper {
  margin: 10px;
  float: left;
  width: 140px;
  height: 140px;
}

.locked .skill-list-item-wrapper {
  position: relative;
}

.locked .skill-list-circle {
  background: #eee;
  cursor: default;
  display: block;
}

.skill-list-circle .fa-lock {
  position: absolute;
  display: block;
  top: 20px;
  left: 26px;
  color: #aaa;
}

.completed .fa-trophy {
  top: 20px;
  left: 20px;
  color: goldenrod;
  text-shadow: 0 0 8px gold;
}

.completed .fa-comment {
  color: darkgoldenrod;
  top: 27px;
  left: 35px;
}

.incomplete .fa-comment {
  top: 16px;
  left: 20px;
  color: #fff;
  text-shadow: 0 0 1px #000
}

.completed .skill-list-circle {
  background: #fceabb; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #fceabb 18%, #fccd4d 52%, #f8b500 61%, #fbdf93 80%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  #fceabb 18%,#fccd4d 52%,#f8b500 61%,#fbdf93 80%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #fceabb 18%,#fccd4d 52%,#f8b500 61%,#fbdf93 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.skill-list-item-wrapper:before:hover {
  background-color: rgb(47, 99, 149);
  border: 1px solid black;
}

.skill-index .completion-trophy {
  color: gold;
  position: absolute;
  font-size: 18em;
  top: 670px;
  left: 205px;
  text-shadow: 0 0 1px black;
}

.completion-trophy .trophy-text {
  position: absolute;
  color: darkgoldenrod;
  cursor: default;
  font-size: 47px;
  top: 71px;
  left: 80px;
  text-shadow: 0 0 8px yellow;
  font-weight: bold;
}

.completion-trophy .fa-percent {
  position: absolute;
  font-size: 20px;
  top: 3px;
  left: 95px;
}
