.skill-index {
  margin: auto;
  width: 642px;
  margin-bottom: 100px;
}
.skill-index-container {
  width: 100%;
  margin-top: 100px;
}

.skill-index-header {
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}

.skill-list {
}

.skill-list-item {
  display: block;
  color: blue;
  padding: 25px 25px 170px 25px;
  text-align: center;
}

.skill-list-item-wrapper {
  border: 2px solid #ccc;
  margin: 10px;
  float: left;
  width: 190px;
  height: 210px;
  background: transparent;
  border-radius: 10px;
  cursor: pointer;
}

.skill-list-item-wrapper:hover {
  background-color: rgb(47, 99, 149);
}
