.skill-index {
  margin: auto;
  width: 500px;
  margin-bottom: 100px;
}
.skill-index-container {
  width: 100%;
  background: red;
  margin-top: 100px;
}

.skill-index-header {
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}

.skill-list {
}

.skill-list-item {
  display: block;
  color: blue;
  padding: 0 25px 0 25px;
  top: 110px;
  text-align: center;
  color: #000;
  position: relative;
}

.skill-list-circle {
  content: "";
  border: 1px solid #bbb;
  margin: 10px;
  position: absolute;
  float: left;
  width: 85px;
  height: 85px;
  background: lightblue;
  border-radius: 50%;
  top: -110px;
  right: 19px;
  cursor: pointer;
}

.skill-list-item-wrapper {
  margin: 10px;
  float: left;
  width: 140px;
  height: 140px;
}

.skill-list-item-wrapper:before:hover {
  background-color: rgb(47, 99, 149);
  border: 1px solid black;
}
