.tips-and-notes {
  padding: 10px;
  border-top: 1px solid #ccc;
  display: block;
  width: 80%;
  margin: auto;
}
.tips-and-notes-header {
  color: #000;
  font-size: 20px;
}
.tips-and-notes-text {
  color: #aaa;
}
