.splash {
  display: block;
  width: 60%;
  float: right;
}

.splash-contents:before {
  content: "";
  border-radius: 100%;
  background-color: #51c4d3;
  padding: 125px 125px;
  left: -315px;
  top: -20px;
  border: 11px solid #0e69a8;
  position: absolute;
  box-shadow: 0 0 3px 14px #0D6490;
}

.splash-header {
  font-size: 30px;
  text-align: center;
}

.splash-contents {
  float: left;
  margin-top: 190px;
  position: relative;
}

.splash-button-form {
  display: block;
}

.splash-button {
  margin: auto;
  display: block;
  background: rgb(128, 179, 22);
  border-radius: 25px;
  padding: 15px 115px;
  width: 91px;
  margin-top: 55px;
}

.splash-button:hover {
  background-color: rgb(150, 195, 0);
}
