.splash-main {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
}

.splash-wrapper {
  overflow: hidden;
  background: #0a4479; /* Old browsers */
  background: -moz-linear-gradient(top,  #0a4479 0%, #207cca 99%, #2989d8 100%, #7db9e8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #0a4479 0%,#207cca 99%,#2989d8 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #0a4479 0%,#207cca 99%,#2989d8 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a4479', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}

// .splash-text:before {
//   content: "";
//   border-radius: 100%;
//   background-color: #46c4d4;
//   padding: 125px 125px;
//   left: -290px;
//   position: absolute;
//   box-shadow: 0 0 3px 14px #0D6490;
//   bottom: -155px;
// }

.splash-text {
  font-size: 30px;
  position: relative;
  width: 663px;
  cursor: default;
  margin: auto;
}

.splash-contents {
  position: absolute;
  top: calc(50% - 72px);
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 715px;
}

.splash-button-form {
  display: block;
}

.splash-login-form {
  position: absolute;
  display: block;
  z-index: 1;
  right: 102px;
  top: 70px;
}

.splash-login-inputs:before {
  content: "▲";
  position: absolute;
  font-size: 20px;
  right: 22px;
  top: -17px;
  color: #fff;
  z-index: 1;
  text-shadow: 0px -3px 3px rgba(0, 0, 0, 0.2);
 }

.splash-login-form .header-nav-login-button:hover {
  display: block;
 }

 .splash-login-inputs {
   background: #fff;
   display: block;
   width: 200px;
   border-radius: 10px;
   padding: 20px;
   position: absolute;
   top: -17px;
   color: #fff;
   left: 268px;
   cursor: default;
 }

 .splash-login-inputs input {
   border: 2px solid #ccc;
   display: block;
   margin: 5px auto;
   width: 185px;
   color: black;
   padding: 5px;
   border-radius: 10px;
 }

 .splash-login-button {
   padding: 8px 70px;
   margin: 15px auto 10px auto;
 }

.splash-button {
  margin: auto;
  display: block;
  background: rgb(128, 179, 22);
  border-radius: 25px;
  padding: 15px 115px;
  width: 91px;
  margin-top: 55px;
}

.splash-button:hover {
  background-color: rgb(150, 195, 0);
}
