 .main {
   width: 100%;
   height: 100%;
 }

 .user-profile .main-content {
   height: 500px;
   float: left;
   margin: 0;
 }

 .user-profile {
   color: #000;
   padding-top: 50px;
   display: block;
   width: 1100px;
   margin: auto;
 }

 .user-profile-header {
   position: relative;
   font-size: 30px;
   top: 105px;
 }
 .user-profile-header h2 {
   text-align: center;
   cursor: default;
   margin-top: 15px;
 }

 .profile-pic {
   display: block;
   width: 125px;
   border: 2px solid #ccc;
   height: 125px;
   position: relative;
   border-radius: 50%;
   left: 50%;
   overflow: hidden;
   transform: translateX(-50%)
 }

 .user-profile-info {
   width: 100%;
   margin: auto;
   padding: 10px 0;
   text-align: center;
 }

 .user-profile-info .name {
   font-size: 20px;
   cursor: default;
   text-align: center;
 }

 .user-profile-info .hometown {
  cursor: default;
  display: inline;
  font-size: 18px;
  color: #aaa;
  padding: 0 10px;
 }

 .profile-sidebar {
   float: right;
   width: 350px;
   position: relative;
   border-radius: 10px;
   height: 500px;
   border: 2px solid #ccc;
 }

 .profile-achievements {
   padding: 15px ;
   color: #aaa;
 }

 .profile-achievements > h2{
   cursor: default;
   font-size: 22px;
   color: #3c3c3c;
   margin-bottom: 10px;
 }

 .profile-achievements-list {

 }

 .profile-achievements-list li > h3 {
    text-transform: uppercase;
    cursor: default;
    color: #aaa;
 }

 .profile-achievements-list > li {
   padding: 15px 0;
   cursor: default;
 }

 .profile-achievements-list .points {
   margin-top: 5px;
   position: relative;
   right: -25px;
   color: #000;
   cursor: default;
 }

 .profile-achievements-list .profile-course {
   color: #3c3c3c;
   margin-left: 5px;
 }

 .profile-achievements-list .fa-adjust {
   color: gold;
   background-color: gold;
   position: absolute;
   border-radius: 50%;
   top: 2px;
   left: -22px;
   text-shadow: 0 0 1px black;
 }

 .profile-sidebar .iguana-pic {
   position: absolute;
   bottom: 10px;
   width: 250px;
   left: 50%;
   transform: translateX(-50%);
 }
