.lesson-page-content {
  width: 900px;
  display: block;
  margin: 100px auto;
  height: 500px;
  background: #fff;
  margin-top: 75px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.lesson-page {
  display: block;
  width: 100%;
  height: auto;
}

.modal-button-wrapper {
  padding: 25px;
  width: auto;
  display: block;
}

.tips-and-notes-modal-button,
.tips-and-notes-quit {
  color: #aaa;
  display: block;
  cursor: pointer;
  padding: 25px;
}

.tips-and-notes-modal-button {
  float: left;
}

.tips-and-notes-modal {
  position: absolute;
  width: 400px;
  z-index: 1;
  padding: 10px;
  border-radius: 10px;
  top: 65px;
  z-index: 1;
  background: #fff;
  left: 15px;

}

.tips-and-notes-modal:before {
  content: "▲";
  position: absolute;
  font-size: 20px;
  left: 43px;
  top: -18px;
  text-shadow: 0px -2px 3px rgba(0, 0, 0, 0.2);
}

.tips-and-notes-quit {
  float: right;
}

.tips-and-notes-modal-text {
  color: #000;
}

.tips-and-notes-modal .triangle {
  cursor: default;
  position: absolute;
  color: #fff;
  top: -25px;
  font-size: 25px;
  left: 45px;
  text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
}

.lesson-bottom-bar {
  position: absolute;
  background-color: #ddd;
  width: 100%;
  height: 90px;
  bottom: 0;
}

.lesson-bottom-bar a {
  padding: 10px 25px;
  margin: 25px 50px;
  width: 75px;
  text-align: center;
  border-radius: 20px;
}

.skip-button {
  float: left;
  cursor: pointer;
  background-color: #ddd;
  color: rgb(153, 153, 153);
  border: 2px solid #ccc;
}

.skip-button:hover {
  background-color: rgb(209, 209, 209);
  color: #000;
}

.check-button,
.disabled-check-button {
  float: right;
}

.check-button {
  color: #fff;
  cursor: pointer;
  background-color: rgb(128, 179, 22)
}

.disabled-check-button {
  color: #eee;
  cursor: default;
  background-color: #bbb;
}

.check-button:hover {
  background-color: rgb(150, 195, 0);
}
