.lesson-page-content {
  width: 900px;
  display: block;
  margin: 100px auto;
  height: 500px;
  background: #fff;
  margin-top: 25px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.lesson-page {
  display: block;
  width: 100%;
  height: auto;
}

.modal-button-wrapper {
  padding: 25px;
  width: auto;
  display: block;
}

.tips-and-notes-modal-button,
.tips-and-notes-quit {
  color: #aaa;
  display: block;
  cursor: pointer;
  padding: 25px;
}

.tips-and-notes-modal-button {
  float: left;
}

.tips-and-notes-modal-button:hover,
.tips-and-notes-quit:hover {
  color: #ccc;
}

.tips-and-notes-modal {
  position: absolute;
  z-index: 1;
  padding: 10px;
  border-radius: 10px;
  top: 65px;
  z-index: 1;
  background: #fff;
  left: 15px;
  height: 310px;
  width: 450px;
}

.tips-and-notes-text-wrapper {
  overflow: scroll;
  height: inherit;
  width: 100%;
}

.tips-and-notes-text-wrapper .fa-times-circle-o {
  left: 447px;
  top: -6px;
}

.tips-and-notes-modal:before {
  content: "▲";
  position: absolute;
  font-size: 20px;
  left: 43px;
  top: -18px;
  text-shadow: 0px -2px 3px rgba(0, 0, 0, 0.2);
}

.tips-and-notes-quit {
  float: right;
}

.tips-and-notes-modal-text {
  color: #000;
  cursor: default;
}

.tips-and-notes-modal .triangle {
  cursor: default;
  position: absolute;
  color: #fff;
  top: -25px;
  font-size: 25px;
  left: 45px;
  text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
}

.lesson-bottom-bar,
.lesson-bottom-bar-correct,
.lesson-bottom-bar-incorrect {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.lesson-bottom-bar {
  background-color: #ddd;
  height: 90px;
}

.lesson-bottom-bar-incorrect {
  background-color: rgb(255, 212, 204);
  color: #f00;
  height: 100px;
}

.lesson-bottom-bar-correct {
  background-color: rgb(222, 240, 165);
  height: 100px;
  color: rgb(118, 156, 0);
}

.fa {
  position: absolute;
  top: 5px;
  left: 45px;
}

.lesson-bottom-bar-incorrect .fa-times-circle-o:hover {
  background: transparent;
  color: red;
}
.lesson-bottom-bar-incorrect .fa-times-circle-o {
  left: 80px;
  cursor: default;
  position: absolute;
  top: 5px;
  background: transparent;
  color: red;
}

.bottom-bar-header {
  float: left;
  cursor: default;
  position: absolute;
  padding: 10px 25px;
  font-size: 20px;
  bottom: 0px;
  font-weight: bold;
}

.lesson-bottom-bar a,
.lesson-bottom-bar-correct a,
.lesson-bottom-bar-incorrect a {
  padding: 10px 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 75px;
  text-align: center;
  border-radius: 20px;
  right: 50px;
}

.lesson-bottom-bar .skip-button {
  left: 50px;
}

.final-page-bar {
  background-color: #21b0f9;
}

.skip-button {
  float: left;
  cursor: pointer;
  background-color: #ddd;
  color: rgb(153, 153, 153);
  border: 2px solid #ccc;
}

.skip-button:hover {
  background-color: rgb(209, 209, 209);
  color: #000;
}

.check-button,
.disabled-check-button {
  float: right;
}

.check-button {
  color: #fff;
  cursor: pointer;
  background-color: rgb(128, 179, 22)
}

.disabled-check-button {
  color: #eee;
  cursor: default;
  background-color: #bbb;
}

.logged-out {
  top: 36%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #aaa;
  text-align: center;
  position: absolute;
  display: block;
  width: 135px;
}

.check-button:hover {
  background-color: rgb(150, 195, 0);
}
