<!DOCTYPE html>
<html>
<head>
  <title>Linguana</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="/assets/iguana-pic" rel="shortcut icon" type="image/png" />
  <link
    href='https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700'
    rel='stylesheet'
    type='text/css'>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

<%= yield %>

</body>
</html>
